/*Resetting margin and padding for all elements*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h3{
    font-size: 2vw;
}

/*Main page to take whole viewport height*/
.main{
    height: 100vh;
}

/*Main heading*/
.top{
    background-color: rgb(123, 231, 210);
    font-size:5vw;
    color: white;
}
.top p{
    font-weight: 600;
}

/*Footer*/
footer{
    background-color: rgb(123, 231, 210);
    color: white;
    font-size: 1vw;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/*Table heading*/
.description{
    background-color: rgb(166, 209, 66);
    border: 2px solid green;
    color: white;
    font-weight: 700;

}
.image{
    background-color: rgb(166, 209, 66);
    border: 2px solid green;
    border-left: 0px;
    color: white;
    font-weight: 700;
}

/*Table rows*/

/*Whole component*/
.add{
    height: 300px; 
}
/*Description part*/
.description2{
    background-color: rgb(231, 252, 193);
    border: 2px solid green;
    border-top: 0;
    height:150px;

}
.description2 p{
    padding: 0;
    margin: 0;
}

/*Image Part*/
.image2{
    border: 2px solid green;
    border-left: 0px;
    border-top: 0px;
    height:150px;
    overflow: hidden;

}
img {
    display: block;
    margin: auto;
}


/*Scroller on y axis*/
.scroll{
    overflow-y: scroll;
}

/*FadeIn effect for newly added rows*/
.fadein{
    animation-name: fade;
    animation-duration: 4s;
}
@keyframes fade{
    from {opacity: 0;}
    to {opacity: 1;}
}


/*Buttons*/
.btn{
    font-size: 1.5vw;
}

